body p{
	color: green;
	}
body{
	background-color: black;
	color: white !important;
	font-family: Verdana;
	color: red;
}

h1 {
	font-family: Arial;
}

a {
	color: inherit;
}

div{
	margin-top: 10px;
	margin-left: 20px;
}

p{
	color: blue
}